@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 font-sans;
}

:focus {
  outline: 3px solid rgba(124, 58, 237, 0.3);
  outline-offset: 2px;
}
